name: Lint
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: WillAbides/setup-go-faster@v1.14.0
      with:
        go-version: "1.25.x"
    - uses: golangci/golangci-lint-action@v6
      with:
        version: v1.60
